<%= if has_image?(@restaurant) do  %>
    <img class="restaurant-image" src="<%= @restaurant.image_url %>" height="120" width="120" alt="Restaurant photo">
<%= else %>
    <div class="image-placeholder"></div>
<% end %>
<h4><%= link @restaurant.name, to: country_city_restaurant_path(@conn, :show, @city.country.id, @city.id, @restaurant.id), class: "restaurant-name"%></h4>
<p>cuisine: <%= @restaurant.cuisine %></p>
<p>desciption: <%= @restaurant.description %></p>
