<h4><%= link @restaurant.name, to: country_city_restaurant_path(@conn, :show, @city.id, @city.country.id, @restaurant.id) %></h4>
<p>cuisine: <%= @restaurant.cuisine %></p>
<p>notes: <%= @restaurant.description %>
