<h2><%= @city.name%> restaurants</h2>
<div class="grouped-restaurants">
    <%= for restaurant <- @restaurants do %>
      <%= render "_restaurant.html", conn: @conn, restaurant: restaurant, city: @city%>
    <% end %>
<p>Can't find the restaurant you are looking for? <%= link "Add it here", to: country_city_restaurant_path(@conn, :new, @city.country.id, @city.id) %></p>

<span><%= link "Back", to: country_path(@conn, :show, @city.country) %></span>
