<h2>All restaurants</h2>

<%= for restaurant <- @restaurants do %>
    <h1><%= @restaurant.name %></h1>
    <p>location: <%= @restaurant.city.name %>, <%= @restaurant.city.country.name %>
    <p>cuisine: <%= @restaurant.cuisine %></p>
    <p>notes: <%= @restaurant.description %>
<% end %>